@import "./_header/_header.css";
@import "./_info/_info.css";
@import "./_slider/_slider.css";

.main_content {
  flex-direction: row;
  overflow: hidden;
  z-index: 0;
  width: 100%;
  height: 100%;
}
