.popup-menu_button {
  display: flex;
  justify-content: center;
  -o-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  height: 30px;
  width: 100px;

  position: absolute;
  transform: translate(-50%, -100%) scaleY(-1);
  -o-transform: translate(-50%, -100%) scaleY(-1);
  -moz-transform: translate(-50%, -100%) scaleY(-1);
  -webkit-transform: translate(-50%, -100%) scaleY(-1);
  -ms-transform: translate(-50%, -100%) scaleY(-1);
  left: 50%;

  background-image: url(https://p7.hiclipart.com/preview/942/148/902/arrow-html-computer-icons-button-down-arrow.jpg);
  -o-background-image: url(https://p7.hiclipart.com/preview/942/148/902/arrow-html-computer-icons-button-down-arrow.jpg);
  -moz-background-image: url(https://p7.hiclipart.com/preview/942/148/902/arrow-html-computer-icons-button-down-arrow.jpg);
  -webkit-background-image: url(https://p7.hiclipart.com/preview/942/148/902/arrow-html-computer-icons-button-down-arrow.jpg);
  -ms-background-image: url(https://p7.hiclipart.com/preview/942/148/902/arrow-html-computer-icons-button-down-arrow.jpg);
  background-size: 100px 30px;
  background-position: center;
  background-repeat: no-repeat;

  background-color: white;
  font-size: 40px;
  cursor: pointer;
}
