.footer_contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 425px) {
  .footer_contact {
    justify-content: center;
  }
}

@media screen and (max-width: 1440px) {
  .footer_contact {
    width: auto;
  }
}
