.header_logo {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  -o-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
}

#logo {
  display: block;
}
#logo_mob {
  display: none;
}

@media screen and (max-width: 425px) {
  #logo {
    display: none;
  }
  #logo_mob {
    display: block;
  }
}
