@mixin text($font-size, $font-weight, $align: initial, $text-transform: initial) {
  font-size: $font-size;
  font-weight: $font-weight;
  text-align: $align;
  text-transform: $text-transform;
}

.center {
  display: block;

  &__top {
    display: block;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: hidden;
  }

  &__container {
    flex-basis: 33.33%;
    margin: 10px;
  }

  &__couple {
    padding: 10px;
  }

  &__couple img {
    width: 100%;
    height: 12em;
    object-fit: cover;
  }

  &__container.couples {
    display: flex;
  }

  &__couples:nth-child(even) {
    padding-bottom: 10%;
  }
  &__couples:nth-child(odd) {
    padding-top: 10%;
  }

  &__welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12% 0 5% 0;
    &__logo {
      color: rgb(47, 25, 70);
      &_text {
        @include text(52px, bold, initial, initial);
        line-height: 1.2;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    &_text {
      color: rgb(47, 25, 70);
      @include text(30px, bold, center, initial);
      line-height: 1.2;
      word-wrap: normal;
    }

    &_author {
      align-self: flex-end;
      font-size: 30px;
      color: rgb(254, 74, 93);
    }
  }

  &__registration {
    position: relative;
    background-color: white;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -5px;
      border-radius: inherit;
      background: linear-gradient(to right, red, yellow);
    }

    &__inner {
      margin: 0 auto;
      padding: 40px;
    }

    &__header {
      @include text(30px, bold, center, uppercase);
      word-spacing: unset;
      color: rgb(47, 25, 70);
      line-height: 1.2;
      padding: 10px 0;
    }

    &__facebook {
      @include text(12px, initial, center, uppercase);
      display: flex;
      justify-content: center;
      padding: 5px;
      border-radius: 4px;
      background-color: rgb(47, 83, 163);
      color: white;
      letter-spacing: 1.5px;
      overflow: hidden;
      cursor: pointer;

      &_icon {
        align-self: center;
        background: url("../assets/img/facebook.png");
        height: 20px;
        min-width: 20px;
        background-size: cover;
      }

      & span {
        padding: 5px;
      }
    }
    &__delimiter {
      border-bottom: 1px solid rgb(155, 155, 155);
      line-height: 0.1em;
      @include text(14px, bold, center, uppercase);
      color: rgb(155, 155, 155);
      margin: 20px 0px;

      & span {
        background-color: white;
        padding: 10px;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__input,
    &__button {
      width: 100%;
      padding: 5px;
      margin: 5px;
      font-size: 16px;
      border: 1px solid black;
    }

    &__input::placeholder {
      color: rgb(100, 47, 107);
    }

    &__button {
      @include text(14px, initial, center, uppercase);
      padding: 10px;
      background-color: rgb(100, 47, 107);
      color: white;
      letter-spacing: 1px;
      cursor: pointer;
      transition: 0.5s all;

      &:hover {
        transition: 0.5s all;
        background-color: rgb(188, 82, 202);
      }
    }
    @media only screen and (max-width: 1024px) {
      &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 10px;
      }
      &__header,
      &__facebook,
      &__delimiter,
      &__form {
        margin: 40px 0;
      }

      &__input {
        margin-top: 20px;
        height: 50px;
        min-width: 150px;
      }
      &__input::placeholder {
        position: relative;
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    &__content {
      grid-template-columns: repeat(3, 1fr);
    }
    &__couples:nth-child(even) {
      grid-row: 2;
    }
    &__container {
      grid-row: 1 / 3;
      grid-column: 2;
    }
    &__container,
    &__registration {
      height: 100%;
    }
  }
}
