@import "./_dot/_dot.css";

.main_slider--selection {
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 50%);
}

@media screen and (min-width: 1024px) {
  .main_slider--selection {
    bottom: 10%;
  }
}
