@import "./_button/_button.css";
@import "./_content/_content.css";
@import "./_element/_element.css";
@import "./_footer/_footer.css";
@import "./_header/_header.css";

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .popup-menu {
    right: 50%;
    transform: translateX(50%);
    -ms-transform: translateX(50%);
  }
}
.popup-menu {
  display: flex;

  position: absolute;
  bottom: 0;

  flex-flow: row nowrap;
  margin-left: 40px;
  margin-right: 40px;
  background-color: white;

  justify-content: space-evenly;
  -o-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-justify-content: space-evenly;

  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;

  z-index: 5;
}

.popup-menu.hidden {
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  z-index: 0;
}
