@import "./_header/_header.css";

.modal_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(39, 39, 39);
  opacity: 1;
  overflow: auto;
  width: 50%;
  height: 50%;
  z-index: 3;
}
@media screen and (max-width: 425px) {
  .modal_inner {
    width: 90%;
  }
}

@media screen and (max-width: 788px) {
  .modal_inner {
    font-size: 26px;
  }
}
