.center {
  display: block;
}
.center__top {
  display: block;
}
.center__content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow: hidden;
}
.center__container {
  flex-basis: 33.33%;
  margin: 10px;
}
.center__couple {
  padding: 10px;
}
.center__couple img {
  width: 100%;
  height: 12em;
  object-fit: cover;
}
.center__container.couples {
  display: flex;
}
.center__welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12% 0 5% 0;
}
.center__welcome__logo {
  color: #2f1946;
}
.center__welcome__logo_text {
  font-size: 52px;
  font-weight: bold;
  text-align: initial;
  text-transform: initial;
  line-height: 1.2;
}
.center__welcome__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.center__welcome_text {
  color: #2f1946;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: initial;
  line-height: 1.2;
  word-wrap: normal;
}
.center__welcome_author {
  align-self: flex-end;
  font-size: 30px;
  color: #fe4a5d;
}
.center__registration {
  position: relative;
  background-color: white;
}
.center__registration::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(to right, red, yellow);
}
.center__registration__inner {
  margin: 0 auto;
  padding: 40px;
}
.center__registration__header {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  word-spacing: unset;
  color: #2f1946;
  line-height: 1.2;
  padding: 10px 0;
}
.center__registration__facebook {
  font-size: 12px;
  font-weight: initial;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  background-color: #2f53a3;
  color: white;
  letter-spacing: 1.5px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;
}
.center__registration__facebook:hover {
  transition: all 0.5s;
  background-color: #457aec;
}
.center__registration__facebook_icon {
  align-self: center;
  background: url("../assets/img/facebook.png");
  height: 20px;
  min-width: 20px;
  background-size: cover;
}
.center__registration__facebook span {
  padding: 5px;
}
.center__registration__delimiter {
  border-bottom: 1px solid #9b9b9b;
  line-height: 0.1em;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #9b9b9b;
  margin: 20px 0px;
}
.center__registration__delimiter span {
  background-color: white;
  padding: 10px;
}
.center__registration__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center__registration__input, .center__registration__button {
  width: 100%;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  border: 1px solid black;
}
.center__registration__input::placeholder {
  color: #642f6b;
}
.center__registration__button {
  font-size: 14px;
  font-weight: initial;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  background-color: #642f6b;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s all;
}
.center__registration__button:hover {
  transition: 0.5s all;
  background-color: #bc52ca;
}
@media only screen and (max-width: 1024px) {
  .center__registration__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 10px;
  }
  .center__registration__header, .center__registration__facebook, .center__registration__delimiter, .center__registration__form {
    margin: 40px 0;
  }
  .center__registration__input {
    margin-top: 20px;
    height: 50px;
    min-width: 150px;
  }
  .center__registration__input::placeholder {
    position: relative;
  }
}
@media only screen and (max-width: 1024px) {
  .center__content {
    grid-template-columns: repeat(3, 1fr);
  }
  .center__couples:nth-child(even) {
    grid-row: 2;
  }
  .center__container {
    grid-row: 1/3;
    grid-column: 2;
  }
  .center__container, .center__registration {
    height: 100%;
  }
}

.nav__menu {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #2f1946;
  line-height: 1.2;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}
.nav__menu__container {
  padding: 10px;
}
.nav__menu__container img {
  cursor: pointer;
}

.top {
  position: relative;
  display: flex;
  flex-direction: column;
}
.top__background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.top__background__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: center center/cover no-repeat;
}
.top__logo {
  align-self: center;
}
.top__logo__container {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.top__logo__container:first-child {
  padding: 100px;
}
.top__logo__img {
  align-self: center;
  width: 50%;
}
.top__logo__text {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #2f1946;
  line-height: 1.2;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  transform: matrix(1.1939810948, 0, 0, 1.1940584878, 0, 0);
}
.top__logo__button {
  position: relative;
  border: 1px solid #81398b;
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;
  transition: all 1s ease;
  z-index: 1;
  user-select: none;
}
.top__logo__button__inner {
  display: flex;
  align-items: center;
  background-color: #81398b;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  padding: 0 20px;
  border-radius: 25px;
}
.top__logo__button__inner_text {
  font-size: 18px;
  font-weight: bold;
  text-align: initial;
  text-transform: initial;
  color: white;
  padding: 10px 10px;
}
.top__logo__button__inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: #c457d3;
  opacity: 0;
  transition: opacity 0.4s;
  z-index: -1;
}
.top__logo__button:hover > .top__logo__button__inner::before {
  opacity: 1;
}
.top__menu {
  display: flex;
  flex-direction: row;
  align-self: center;
  transform: translateY(25%);
}
.top__menu__element {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.top__menu__element_top {
  height: 75%;
}
.top__menu__element_top img {
  padding: 40px;
  width: 100%;
}
.top__menu__element_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
  color: white;
  font-weight: 700;
}
.top__menu__element.worldWide {
  background-color: #fe4a5d;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.top__menu__element.worldWide .top__menu__element_bottom {
  background-color: rgba(0, 0, 0, 0.102);
}
.top__menu__element.hearts {
  background-color: #e22028;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.top__menu__element.hearts .top__menu__element_bottom {
  background-color: rgba(0, 0, 0, 0.102);
}
.top__menu__element.oneSite {
  background-color: #ff6c00;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.top__menu__element.oneSite .top__menu__element_bottom {
  background-color: rgba(0, 0, 0, 0.102);
}
@media only screen and (max-width: 425px) {
  .top__menu_top img {
    padding: 20px;
  }
}

.join-now {
  background-image: url("../assets/img/join-bg.png");
  background-size: cover;
  object-fit: cover;
  position: relative;
  height: 600px;
}
.join-now__bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid white;
  width: 50%;
  height: 100%;
  position: absolute;
}
.join-now__bubble.flower {
  width: 150px;
  height: 150px;
  top: 20%;
  left: 2%;
  transform: translateX(-2%) translateY(-20%);
}
.join-now__bubble.heart {
  width: 100px;
  height: 100px;
  top: 60%;
  left: 13%;
  transform: translateX(-13%) translateY(-60%);
}
.join-now__bubble.send-flower {
  width: 200px;
  height: 200px;
  top: 10%;
  left: 25%;
  transform: translateX(-25%) translateY(-10%);
}
.join-now__bubble.send-flower p {
  transform: rotate(-5deg);
  font-size: 24px;
}
.join-now__bubble.genders {
  width: 200px;
  height: 200px;
  top: 90%;
  left: 28%;
  transform: translateX(-28%) translateY(-90%);
}
.join-now__bubble.genders p {
  transform: rotate(5deg);
  font-size: 24px;
}
.join-now__bubble.start {
  width: 350px;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.join-now__bubble.start p {
  color: #642f6b;
  font-weight: bold;
  text-transform: none;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  padding: 10px 0;
}
.join-now__bubble.start .join-now__bubble__inner {
  background-color: white;
}
.join-now__bubble.present {
  top: 90%;
  left: 70%;
  transform: translateX(-70%) translateY(-90%);
  width: 100px;
  height: 100px;
}
.join-now__bubble.languages {
  top: 10%;
  left: 75%;
  transform: translateX(-75%) translateY(-10%);
  width: 200px;
  height: 200px;
}
.join-now__bubble.languages p {
  transform: rotate(5deg);
  font-size: 24px;
}
.join-now__bubble.translations {
  width: 200px;
  height: 200px;
  top: 80%;
  left: 90%;
  transform: translateX(-90%) translateY(-80%);
}
.join-now__bubble.translations p {
  font-size: 24px;
  transform: rotate(5deg);
}
.join-now__bubble.chat {
  top: 20%;
  left: 100%;
  transform: translateX(-100%) translateY(-20%);
  width: 150px;
  height: 150px;
}
.join-now__bubble.chat p {
  transform: rotate(5deg);
}
.join-now__bubble.genders .join-now__bubble__inner, .join-now__bubble.flower .join-now__bubble__inner, .join-now__bubble.chat .join-now__bubble__inner {
  background-color: #f9b416;
}
.join-now__bubble.send-flower .join-now__bubble__inner, .join-now__bubble.translations .join-now__bubble__inner {
  background-color: #ff6c00;
}
.join-now__bubble.languages .join-now__bubble__inner, .join-now__bubble.present .join-now__bubble__inner, .join-now__bubble.heart .join-now__bubble__inner {
  background-color: #fe4a5d;
}
.join-now__bubble__img {
  padding: 10px;
  width: 100%;
  height: 100%;
}
@keyframes smoothGradient {
  0% {
    background: linear-gradient(to right, red, #ffa600);
  }
  10% {
    background: linear-gradient(to right, #ff1e00, #ff8200);
  }
  20% {
    background: linear-gradient(to right, #ff3c00, #ff6400);
  }
  30% {
    background: linear-gradient(to right, #ff5a00, #ff4600);
  }
  40% {
    background: linear-gradient(to right, #ff6e00, #ff2800);
  }
  50% {
    background: linear-gradient(to right, darkorange, #ff0a00);
  }
  60% {
    background: linear-gradient(to right, #ff6e00, #ff2800);
  }
  70% {
    background: linear-gradient(to right, #ff5a00, #ff4600);
  }
  80% {
    background: linear-gradient(to right, #ff3c00, #ff6400);
  }
  90% {
    background: linear-gradient(to right, #ff1e00, #ff8200);
  }
  100% {
    background: linear-gradient(to right, red, #ffa600);
  }
}
.join-now__button {
  padding: 10px;
  border: none;
  background: linear-gradient(to right, red, orange);
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: white;
}
.join-now__button:hover {
  animation: smoothGradient 1s ease infinite;
}
.join-now__bubble__inner {
  display: flex;
  border-radius: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
.join-now__bubble__inner p {
  padding: 5px 0;
}

body {
  font-family: "Dosis", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}
main nav {
  align-self: flex-end;
}

footer .footer__description p {
  font-size: 12px;
  font-weight: bold;
  text-align: initial;
  text-transform: initial;
  color: #2f1946;
  letter-spacing: 1px;
  text-align: center;
}
footer nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fafafa;
}
footer .nav__list {
  padding: 20px;
  text-align: center;
}
footer .nav__link {
  font-size: 16px;
  font-weight: bold;
  text-align: initial;
  text-transform: uppercase;
  color: #2f1946;
  cursor: pointer;
}
footer .nav__link:active, footer .nav__link:visited {
  text-decoration: none;
}
footer .nav__link:hover {
  color: #753db1;
}
footer .nav__el {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  flex-wrap: nowrap;
}
footer hr {
  width: 75%;
  margin: 15px;
}
footer .flags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer .flags img {
  padding: 5px;
}
footer .subscribe {
  text-align: center;
  padding: 20px;
}
footer .subscribe input {
  padding: 8px;
  border: 1px solid gainsboro;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
footer .subscribe__signup {
  font-size: 16px;
  font-weight: bold;
  text-align: initial;
  text-transform: initial;
  padding: 8px;
  color: #00cfae;
}
footer .subscribe__button {
  font-size: 14px;
  font-weight: 600;
  text-align: initial;
  text-transform: uppercase;
  border: none;
  background-color: #00cfae;
  padding: 8px;
  color: #fefefe;
  cursor: pointer;
}
footer .subscribe__button:hover {
  background-color: #00a187;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social {
  position: fixed;
  display: inline-flex;
  flex-direction: column;
  left: 0;
  top: 20%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  z-index: 9999;
  transition: all 0.5s ease;
}
.social.hide {
  transform: translate(-100%, 0);
}
.social__link {
  cursor: pointer;
}
.social__button {
  padding: 7px;
  margin-left: 3px;
  z-index: 2;
  background-color: #45124c;
}
.social__button:hover {
  background-color: #7a2086;
}
.social__button.hide {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  cursor: pointer;
  z-index: 1 !important;
  background-color: unset;
}
.social__button.hide.hide img {
  width: 100%;
  transform: rotate(-180deg);
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .top__logo__text {
    font-size: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .top__logo__container {
    padding: 10px;
  }
  .top__logo__text {
    font-size: 30px;
  }
  .top__logo__img {
    width: 70%;
  }
  .top__menu {
    width: 70%;
  }
  .top__menu__element {
    margin: 5px;
    font-size: 16px;
    width: 60%;
  }
  .top__menu__element_top img {
    padding: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .top__logo__text {
    font-size: 28px;
  }
  .top__menu__element_top img {
    padding: 10px;
  }
}
@media only screen and (max-width: 425px) {
  .top__logo__text {
    font-size: 25px;
  }
}
@media only screen and (max-width: 375px) {
  .top__logo__text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .center__registration__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 10px;
  }
  .center__registration__header {
    font-size: 60px;
  }
  .center__registration__header, .center__registration__facebook, .center__registration__delimiter, .center__registration__form {
    margin: 40px 0;
  }
  .center__registration__input {
    margin-top: 20px;
    height: 50px;
    text-align: center;
  }
  .center__registration__input::placeholder {
    position: relative;
  }
  .center__registration__input, .center__registration__input::placeholder {
    font-size: 20px;
  }
}
@media only screen and (max-width: 425px) {
  .center__registration__header {
    margin: 10px 0;
    font-size: 40px;
  }
}
@media only screen and (max-width: 1024px) {
  .center__content {
    grid-template-columns: repeat(3, 1fr);
  }
  .center__couples:nth-child(even) {
    grid-row: 2;
  }
  .center__container {
    grid-row: 1/3;
    grid-column: 2;
  }
  .center__container, .center__registration {
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .center__content {
    grid-template-columns: repeat(2, 1fr);
    padding: 25px;
  }
  .center__couple {
    padding: 0;
  }
  .center__couple img {
    padding: 10px;
  }
  .center__couples, .center__container {
    justify-self: center;
  }
  .center__couples:nth-child(even) {
    grid-row: 1;
  }
  .center__couples:nth-child(odd) {
    grid-row: 3;
  }
  .center__container {
    width: 90%;
    grid-row: 2;
    grid-column: 1/3;
  }
}

@media screen and (max-width: 1300px) {
  .join-now__bubble.start {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 1100px) {
  .join-now__bubble.flower, .join-now__bubble.chat {
    width: 125px;
    height: 125px;
  }
  .join-now__bubble.heart, .join-now__bubble.present {
    width: 75px;
    height: 75px;
  }
  .join-now__bubble.send-flower, .join-now__bubble.genders, .join-now__bubble.translations, .join-now__bubble.languages {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 768px) {
  .join-now__bubble.flower, .join-now__bubble.chat {
    width: 125px;
    height: 125px;
  }
  .join-now__bubble.heart, .join-now__bubble.present {
    width: 75px;
    height: 75px;
  }
  .join-now__bubble.send-flower, .join-now__bubble.genders, .join-now__bubble.translations, .join-now__bubble.languages {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 768px) {
  .join-now__bubble__button {
    padding: 5px;
    letter-spacing: initial;
  }
}
@media screen and (max-width: 660px) {
  .join-now__bubble {
    width: 50%;
    height: 100%;
  }
  .join-now__bubble.flower, .join-now__bubble.chat {
    width: 100px;
    height: 100px;
    top: 30%;
  }
  .join-now__bubble.heart {
    left: 10%;
  }
  .join-now__bubble.heart, .join-now__bubble.present {
    width: 75px;
    height: 75px;
  }
  .join-now__bubble.send-flower, .join-now__bubble.languages {
    top: 5%;
  }
  .join-now__bubble.translations {
    left: 95%;
    top: 75%;
  }
  .join-now__bubble.send-flower, .join-now__bubble.genders, .join-now__bubble.translations, .join-now__bubble.languages {
    width: 130px;
    height: 130px;
  }
  .join-now__bubble.send-flower p, .join-now__bubble.genders p, .join-now__bubble.translations p, .join-now__bubble.languages p {
    font-size: 16px;
  }
  .join-now__bubble.start {
    width: 200px;
    height: 200px;
  }
  .join-now__bubble.start p {
    font-size: 20px;
  }
  .join-now__bubble.start button {
    font-size: 12px;
    padding: 5px;
  }
}
@media screen and (max-width: 375px) {
  .join-now__bubble.flower, .join-now__bubble.chat {
    width: 100px;
    height: 100px;
    top: 30%;
  }
  .join-now__bubble.heart {
    left: 10%;
  }
  .join-now__bubble.heart, .join-now__bubble.present {
    width: 75px;
    height: 75px;
  }
  .join-now__bubble.send-flower, .join-now__bubble.genders, .join-now__bubble.translations, .join-now__bubble.languages {
    width: 120px;
    height: 120px;
  }
  .join-now__bubble.send-flower p, .join-now__bubble.genders p, .join-now__bubble.translations p, .join-now__bubble.languages p {
    font-size: 16px;
  }
  .join-now__bubble.start {
    width: 175px;
    height: 175px;
  }
  .join-now__bubble.start p {
    font-size: 20px;
  }
  .join-now__bubble.start button {
    font-size: 10px;
  }
}

@media screen and (max-width: 520px) {
  footer .subscribe__button {
    margin: 10px;
    width: 40%;
    text-align: center;
    font-size: 20px;
  }
}
@media screen and (max-width: 375px) {
  footer .subscribe__signup, footer .subscribe__input {
    margin: 10px;
  }
  footer .subscribe__button {
    margin: 0px;
    width: 55%;
    padding: 8px;
  }
}

/*# sourceMappingURL=index.css.map */
