@import "./main/center.scss";
@import "./main/top.scss";
@import "./main/joinnow.scss";

body {
  font-family: "Dosis", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  nav {
    align-self: flex-end;
  }
}
