.header_reservable {
  display: table;
  width: 100px;

  position: absolute;
  left: 100%;
  top: 0;

  padding-top: 20px;
  padding-right: 50px;
  padding-right: calc(40px + 10px);

  transform: translate(-100%, 0%);
  -moz-transform: translate(-100%, 0%);
  -webkit-transform: translate(-100%, 0%);
  -o-transform: translate(-100%, 0%);
  -ms-transform: translate(-100%, 0%);

  font-size: 8px;

  cursor: pointer;
}
.header_reservable:hover {
  color: #ffeaa7;
}
.header_reservable .ic {
  height: 10px;
  width: 10px;
}

@media screen and (max-width: 768px) {
  .header_reservable {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  .header_reservable {
    font-size: 16px;
  }
}
